{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}epk{% endblock %}

{% block content %}
<h1 class='title'>Hidonash</h1>

<div class='block intro'>
    {% include "home/components/quote.html" with quote_text=page.quote_text|richtext quote_author=page.quote_author|richtext %}

    {% include "home/components/bio.html" with bio=page.bio|richtext %}
    {% include "home/components/image.html" with image=page.image rendition_url=page.rendition_url %}
</div>

<div class='block embeds'>
    <h2>Discography</h2>
    <div class="bandcamp-grid">
        {% for bandcamp_embed in page.bandcamp_embeds.all %}
            <iframe class="bandcamp-embed"
                    src="{{ bandcamp_embed.url }}"
                    title="{{ bandcamp_embed.title }}"
                    frameborder="0">
            </iframe>
        {% endfor %}
    </div>

    <h2>DJ-Mixes</h2>
    <div class="soundcloud-grid">
        {% for soundcloud_embed in page.soundcloud_embeds.all %}
        <iframe class="soundcloud-embed"
                src="{{ soundcloud_embed.url }}"
                title="{{ soundcloud_embed.title }}"
                frameborder="0">
        </iframe>
        {% endfor %}
    </div>

    <h2>Video</h2>
    <div class="video">
        <iframe class="youtube-embed"
                src="{{ page.video }}"
                title="Video"
                frameborder="0">
        </iframe>
    </div>

    {% include "home/components/contact.html" %}

    <h2>Assets</h2>
    {% include "home/components/download-link.html" with file=page.rider %}
    {% include "home/components/download-link.html" with file=page.press_pics %}

</div>

{% endblock %}
